<!DOCTYPE html>
<html lang="en">
       <%-include('./partials/head');%>
       <body class="text-center">
           <div class="container">
            <iframe src="https://drive.google.com/file/d/12StkUVaZITyqFC_FJqxqFQkF439mhbFC/preview" width="680" height="680"></iframe>
           </div>
      
           <!-- <embed src="https://drive.google.com/file/d/12StkUVaZITyqFC_FJqxqFQkF439mhbFC/preview"  type="application/pdf" width="800px" height="2100px" /> -->
  <!-- <embed src="/public/resume/Vipul_DSCE.pdf" type="application/pdf" width="640" height="480"> -->
    <a href="https://drive.google.com/file/d/12StkUVaZITyqFC_FJqxqFQkF439mhbFC/preview">download</a>
           <%- include('./partials/footer.ejs'); %>  

    </body>
</html>